*{
    margin: 0px; 
    padding: 0px;
    /* box-sizing: border-box; */
    text-align: center;
}
body{
    background: rgb(0,224,247);
    background: linear-gradient(90deg, #00e0f7b3 0%, #ff00dbb3 100%);

}

h1{    
    background: #331BCF;
    background: linear-gradient(to right, #331BCF 0%, #CF1512 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

.navbar {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    }

.choice{
    height: 170px;
    width: 170px;
    display: flex;
    
}

.choice :hover{
    opacity: 0.8;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.05);
    transition: .5s;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}

img{
    height: 150x;
    width: 165px;
    object-fit: cover;
    border-radius: 50%;
}

.score_board{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px;
}

#user_score, #comp_score{
    font-size: 3rem;
}

.score{
    padding: 30px;
    font-size: 1.5rem;
}
.score:hover{
    color: white;
    cursor: pointer;
    transition: .5s;
}

#msg{
    font-size: 2rem;
    background-color: navy;    
    color: white;
    display: inline;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

.msg-container:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 1s;
}